{include file="public/header" /}

<div class="denlu">
    <div class="denlu_nei">
        <div class="denluL">
            <img src="__STATIC__/index/text/23.gif" class="pt145" />
        </div>
        <div class="denluR">
            <div class="den_bt">
                注册账号
            </div>
            <form method="post"  action="{:url('index/register/register_add')}" onsubmit="return check()">
                <div class="den_kang">
                    <table width="100%" height="155" border="0" cellspacing="0" cellpadding="0">
                        <tr >
                            <td width="50"  height="40"><span class="den_span">账号</span></td>
                            <td><input name="username" maxlength="8" type="text" class="denl_input" placeholder="您要注册的账号" value="" /></td>
                        </tr>
                        <tr >
                            <td width="50"  height="40"><span class="den_span">邮箱</span></td>
                            <td><input name="email" maxlength="20" type="text" class="denl_input" placeholder="您常用的邮箱" /></td>
                        </tr>
                        <tr>
                            <td width="50"   height="40"><span class="den_span">密码</span></td>
                            <td><input name="password" maxlength="16" name="" type="password" class="denl_input" placeholder="您要设定的密码"/>
                            </td>
                        </tr>
                        <tr >
                            <td width="50"  height="40"><span class="den_span">复密码</span></td>
                            <td><input type="password" maxlength="16" class="denl_input"  placeholder="请确认密码" name="repassword"/></td>
                        </tr>
                        <tr >
                            <td width="50"  height="40"><span class="den_span">验证码</span></td>
                            <td>
                                <span class="ssden_span"> <img src="{:captcha_src()}"  class="imgsscc" alt="captcha" name="code" border="1" onclick="this.src=this.src+'?'+Math.random()"  /></span>
                                <input name="code" id='verifyCode' maxlength="4" type="text" class="ssdenl_input"  placeholder="请输入验证码"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sdeng_ann">
                    <input type="submit"  class="ssdeng_a"/>
                </div>
            </form>
            <div class="szhece">
                <span class="szhece_spa">已有账号？</span><a href="{:url('login/login')}">马上登陆</a>            </div>
            <div class="zhano">
                <span class="l">其他用户登录：</span><a href="#"><img src="__STATIC__/index/images/qq.gif" /></a>            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

















<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>注册</title>
    <meta name="keywords"  content="设置关键词..." />
    <meta name="description" content="设置描述..." />
    <meta name="author" content="DeathGhost" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style1.css" />
</head>

<body class="login-page " style="margin-top:750px;background: darkcyan">
<section class="login-contain" style="background:white">
    <header>
        <h1>注册</h1>
        <p>management system</p>
    </header>
    <div class="form-content" >
        <form action="{:url('index/register/register_add')}" method="post">
            <ul>
                <li>
                    <div class="form-group">
                        <label class="control-label">用户名：</label>
                        <input type="text" placeholder="管理员账号..." name="username" class="form-control form-underlined" id="adminName"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">会员密码：</label>
                        <input type="password" placeholder="密码..." name="password" class="form-control form-underlined" id="adminPwd"/>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">确认密码：</label>
                        <input type="password" placeholder="确认密码..." name="repassword" class="form-control form-underlined" />
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">手机号：</label>
                        <input type="text" placeholder="手机号..." name="tel" class="form-control form-underlined" />
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">QQ号：</label>
                        <input type="text" placeholder="QQ号..." name="qq" class="form-control form-underlined" />
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">身份证：</label>
                        <input type="text" placeholder="身份证号码..." name="card" class="form-control form-underlined" />
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <label class="control-label">邮箱：</label>
                        <input type="email" placeholder="邮箱..." name="email" class="form-control form-underlined" />
                    </div>
                </li>
                <li>
                    <label style='margin: 0 auto'>
                        <span >已有账号<a href="{:url('login/login')}">立即登录!</a></span>
                    </label>
                </li>
                <li>
                    <input type="submit" value="注册" style="border-radius:20px;width:90px;height:40px;background:grey;margin-left:120px"/>
                </li>
                <li>
                    <p class="btm-info">我仍然在这世上活的认真 <a href="{:url('index/index/index')}" target="_blank" title="DeathGhost">前台首页</a></p>
                    <address class="btm-info">陕西省西安市雁塔区</address>
                </li>
            </ul>
        </form>
    </div>
</section>
<div class="mask"></div>
<div class="dialog">
    <div class="dialog-hd">
        <strong class="lt-title">标题</strong>
        <a class="rt-operate icon-remove JclosePanel" title="关闭"></a>
    </div>
    <div class="dialog-bd">
        &lt;!&ndash;start::&ndash;&gt;
        <p>这里是基础弹窗,可以定义文本信息，HTML信息这里是基础弹窗,可以定义文本信息，HTML信息。</p>
        &lt;!&ndash;end::&ndash;&gt;
    </div>
    <div class="dialog-ft">
        <button class="btn btn-info JyesBtn">确认</button>
        <button class="btn btn-secondary JnoBtn">关闭</button>
    </div>
</div>
</body>
</html>
-->
